include Components/_layout-component
doctype html
html(dir="rtl" lang="fa")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,user-scalable=no, initial-scale=1.0 maximum-scale=1.0,minimum-scale=1.0')

        meta(name='Designer_UI' content='Ali_God')

        // TODO: adding site custom favicon in this root
        link(href="/assets/images/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon")
        link(rel='apple-touch-icon', sizes='180x180', href='/assets/images/favicon/apple-touch-icon.webp')
        link(rel='icon', type='image/webp', sizes='32x32', href='/assets/images/favicon/favicon-32x32.webp')
        link(rel='icon', type='image/webp', sizes='32x32', href='/assets/images/favicon/favicon-192x192.webp')
        link(rel='icon', type='image/webp', sizes='16x16', href='/assets/images/favicon/favicon-16x16.webp')

        meta(name='theme-color', content=siteInfo.color)

        title= siteInfo.title

        <!-- public styles.-->
        link(rel="stylesheet" href="assets/styles/common.css?v=" + new Date().getTime() )
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")
        link(rel="stylesheet" href="assets/styles/css/swiper-bundle.min.css")



        //link(rel="stylesheet" href="/assets/styles/common.min.css?v=" + new Date().getTime() )
        block style
        script(src='assets/scripts/js/jquery.min.js')
        script(src="assets/scripts/js/typed.js")
        script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js")
        script(src="assets/scripts/js/swiper-bundle.min.js")


        block indexScripts

    body
        .cursor
            span

        block header

        main
            block content

        include UI-helper/_search-2
        block modal

        block footer

        <!-- public scripts.-->
        // TODO: install node_modules dependencies and put common.js insted of this files
        script(src='/assets/scripts/js/bootstrap.bundle.min.js')
        script(src='/assets/scripts/js/validate.min.js')
        script(src='/assets/scripts/js/lazysizes.min.js')
        script(src='/assets/scripts/js/sweetAlert2.min.js')

        block script


        script(type="module" src="assets/scripts/main.js?v=" + new Date().getTime() )

