.footer-box__title دسترسی آسان

.footer-box__body
    ul.footer-list.link

        li.footer-list__item
            a.footer-list__link(href=siteInfo.pages.product.archive) محصولات

        li.footer-list__item
            a.footer-list__link(href=siteInfo.pages.blog.archive) مقالات

        li.footer-list__item
            a.footer-list__link(href='about-us.html') درباره ما

        li.footer-list__item
            a.footer-list__link(href='contact-us.html') تماس با ما