footer#main-footer
    .container
        .row.align-items-center
            .col-lg-5.footer-box.footer-logo
                include _footer-logo

            .col-lg-2.footer-box.footer-easyaccess
                include _footer-easyaccess

            .col-lg-5.footer-box.footer-contact
                include _footer-contact

    include _footer-info

button#scroll-up scroll-up
    span.icon-circle-angle-up