-
    breadCrumbInfo = {
        aboutUs: [
            {
                text: 'درباره ما',
                href: 'about-us.html'
            },
        ],
        contactUs: [
            {
                text: 'تماس با ما',
                href: 'contact-us.html'
            },
        ],
        cartEmpty: [
            {
                text: 'سبد خرید',
                href: 'cart-1_2.html'
            }
        ],
        cart: [
            {
                text: 'سبد خرید',
                href: 'cart-1.html'
            }
        ],
        blog: {
            archive: [
                {
                    text: 'آرشیو مقالات',
                    href: siteInfo.pages.blog.archive
                },
            ],
            detail: [
                {
                    text: 'آرشیو مقالات',
                    href: siteInfo.pages.blog.archive
                },
                {
                    text: 'جزئیات مقاله',
                    href: siteInfo.pages.blog.detail
                },
            ]
        },
        product: {
            archive: [
                {
                    text: 'آرشیو محصولات',
                    href: siteInfo.pages.product.archive
                }
            ],
            detail: [
                {
                    text: 'آرشیو محصولات',
                    href: siteInfo.pages.product.archive
                },
                {
                    text: 'جزئیات محصول',
                    href: siteInfo.pages.product.detail
                }
            ]
        },
        search: [
            {
                text: 'صفحه جست و جو',
                href: "search.html"
            }
        ]
    }