-
    productInfo = [
        {
            title: 'فرش کلاسیک ایل گلی تبریز طرح مهسون سیلور',
            img: 'assets/images/product/01.webp',
            price: 1200,
            discount: 0
        },
        {
            title: 'فرش فانتزی نویان پارمیس طرح ۶۱۲۳',
            img: 'assets/images/product/02.webp',
            price: 2350,
            discount: 8
        },
        {
            title: 'فرش فانتزی نویان آرامیس طرح 8332',
            img: 'assets/images/product/03.webp',
            price: 4500,
            discount: 10
        },
        {
            title: 'فرش کلاسیک تافته رویال طرح افشان سنا کرم بژ',
            img: 'assets/images/product/04.webp',
            price: 3100,
            discount: 0
        },
        {
            title: 'فرش کلاسیک تافته گلستان طرح نارون فیروزه ای',
            img: 'assets/images/product/05.webp',
            price: 0,
            discount: 0
        },
        {
            title: 'فرش کلاسیک مشهد اردهال(ابریشم بافت) طرح 11 نقرآبی',
            img: 'assets/images/product/01.webp',
            price: 4125,
            discount: 0
        },
    ]