-
    siteInfo = {
        color: '#15348b',
        title: 'fafaweb',
        text: '',
        contact: {
            address: 'کاشان، میدان امام حسین، ابتدای خیابان ملامحسن، مرکز طراحی سایت کاشان - فناوری اطلاعات آیتیسا',
            phone: '031-555515555',
            mobile: '0913 111 22222',
            email: 'info@itsaco.com',
        },
        pages: {
            product: {
                detail: 'product-detail.html',
                archive: "product-archive.html"
            },
            blog: {
                detail: 'blog-detail.html',
                archive: 'blog-archive.html',
            },
        }
    }
