-
    socialIconInfo = [
        {
            icon: 'instagram',
            title: 'اینستاگرام'
        },
        {
            icon: 'facebook',
            title: 'فیس بوک'
        },
        {
            icon: 'telegram',
            title: 'تلگرام'
        },
        {
            icon: 'whatsapp',
            title: 'واتس اپ'
        },
        {
            icon: 'linkedin',
            title: 'لینکدین'
        },
    ]