#main-header {
  padding: 30px 10px;
  background-color:  var(--background-color-light);;
  box-shadow: 0 5px 5px -5px rgb(11 11 11 / 20%);
  margin-bottom: 35px;
  width: 90px;
  border-radius: 45px;
  z-index: 100;
  text-align: center;
  opacity: 1;
  visibility: visible;
  margin-left: 30px;
} /* main header */
