.not-found
    .not-found__header
        img.not-found__img(src='assets/images/content/search.webp' alt="ذره بین")
        .not-found__body
            p.not-found__title هیج نتیجه ای یافت نشد !
            p.not-found__text از عبارت های رایج تر استفاده کنید یا املای واژگان وارد شده را بررسی نمایید.