.col-12
  nav(aria-label='Page navigation')
    ul.pagination.justify-content-center.my-pagination

      li.page-nav-item
        a.page-nav-link(href='#')
          span.icon-angle-right

      li.pages-wrapper
        a.page-nav-link.active(href='#') 1
        a.page-nav-link(href='#') 2
        a.page-nav-link(href='#') 3
        a.page-nav-link(href='#') 4
        a.page-nav-link(href='#') 5
        a.page-nav-link(href='#') 6

      li.page-nav-item
        a.page-nav-link(href='#')
          span.icon-angle-left