.search-focus#search-modal
    .search-popup
        .close-layer.close-item
        .modal-dialog.modal-dialog-centered

            .modal-content


                    button.close.close-item
                        span(aria-hidden='true') ×
                    .search-center
                        p.search-txt جستجو

                        form.search-form
                            input.search-index.search-input(type='search', placeholder='دنبال چی می گردی ...')
                            button.search-button(type='submit')
                                span.icon-search
                        .search-suggest-wrapper
                            a(href="#").search-suggest لیوان
                            a(href="#").search-suggest قاشق
                            a(href="#").search-suggest چنگال
                            a(href="#").search-suggest کاسه
                            a(href="#").search-suggest ظرف در دار