#about-me.active.tab-pane.Shared-card.fade
    h2.title درباره من
    .description  سلام! من فاطمه فلاح هستم، ۲۴ ساله و عاشق دنیای تکنولوژی. با بیش از ۳ سال تجربه در طراحی سایت، مهارتم رو در ایجاد وبسایت‌های زیبا و کارآمد به نمایش گذاشتم. یادگیری برای من فقط یک هدف نیست؛ بلکه یک سبک زندگیه! هر روز با اشتیاق به دنبال کشف چیزای جدید و توسعه توانایی‌هام هستم.

    ul.info-list
        li.info-item
            .key سن :
            .value 24

        li.info-item
            .key محل سکونت :
            .value کاشان
        li.info-item
            .key تخصص :
            .value برنامه نویس وب

    #services.shared-card
        .title خدمات من

        .row.mt-5
            .col-lg-4
                .service-card
                    img.icon(src="assets/images/icon/ui-design.png")
                    .name Ui - Ux
                    .desc تجزیه و تحلیل و طراحی انواع قالب های انحصاری

            .col-lg-4
                .service-card
                    img.icon(src="assets/images/icon/backend.png")
                    .name Web development
                    .desc توسعه وب سایت و اپلیکیشن های تحت وب
            .col-lg-4
                .service-card
                    img.icon(src="assets/images/icon/customer-service (2).png")
                    .name Support
                    .desc 6 ماه پشتیبانی رایگان برای تمامی پروژه ها

