#projects.shared-card.tab-pane.fade
    h2.title پروژه ها


    .gallery-container

        .project
            a(href="assets/images/gallery/fooding1.png", data-fancybox="project11", data-caption="تصویر 1 پروژه فودینگ")
                img(src="assets/images/gallery/fooding1.png", alt="تصویر 1 پروژه فودینگ")
            h3  فودینگ
            a(href="assets/images/gallery/fooding1.png", data-fancybox="project11", data-caption="تصویر 1 پروژه فودینگ", style="display: none;")
            a(href="assets/images/gallery/fooding2.png", data-fancybox="project11", data-caption="تصویر 2 پروژه فودینگ", style="display: none;")
            a(href="assets/images/gallery/fooding3.png", data-fancybox="project11", data-caption="تصویر 3 پروژه فودینگ", style="display: none;")

        // پروژه ۱
        .project
            a(href="assets/images/gallery/06.png", data-fancybox="project1", data-caption="تصویر اصلی پروژه شهدخت")
                img(src="assets/images/gallery/06.png", alt="تصویر اصلی پروژه شهدخت")
            h3  فرش شهدخت
            a(href="assets/images/gallery/shahdokht2.png", data-fancybox="project1", data-caption="تصویر ۲ پروژه شهدخت", style="display: none;")
            a(href="assets/images/gallery/shahdokht3.jpg", data-fancybox="project1", data-caption="تصویر ۳ پروژه شهدخت", style="display: none;")
        // پروژه ۲
        .project
            a(href="assets/images/gallery/sandogh1.jpg", data-fancybox="project3", data-caption="تصویر اصلی پروژه صندوق اندوخته خانوادگی")
                img(src="assets/images/gallery/sandogh1.jpg", alt="تصویر اصلی پروژه صندوق اندوخته خانوادگی")
            h3  صندوق اندوخته خانوادگی
            a(href="assets/images/gallery/sandogh6.png", data-fancybox="project3", data-caption="تصویر ۲ پروژه صندوق اندوخته خانوادگی", style="display: none;")
            a(href="assets/images/gallery/sandogh1.png", data-fancybox="project3", data-caption="تصویر ۳ پروژه صندوق اندوخته خانوادگی", style="display: none;")
            a(href="assets/images/gallery/sandogh2.png", data-fancybox="project3", data-caption="تصویر 4 پروژه صندوق اندوخته خانوادگی", style="display: none;")
            a(href="assets/images/gallery/sandogh3.png", data-fancybox="project3", data-caption="تصویر 5 پروژه صندوق اندوخته خانوادگی", style="display: none;")
            a(href="assets/images/gallery/sandogh4.png", data-fancybox="project3", data-caption="تصویر 6 پروژه صندوق اندوخته خانوادگی", style="display: none;")

        .project

            a(href="assets/images/gallery/terme1.jpg", data-fancybox="project4", data-caption="تصویر اصلی پروژه طراحی فرش ترمه ")
                img(src="assets/images/gallery/terme1.jpg", alt="تصویر اصلی پروژه طراحی فرش ترمه")
            h3  فرش ترمه
            a(href="assets/images/gallery/terme2.png", data-fancybox="project4", data-caption="تصویر 2 پروژه فرش ترمه ", style="display: none;")



        .project
            a(href="assets/images/gallery/corex1.jpg", data-fancybox="project5", data-caption="تصویر اصلی پروژه corex ")
                img(src="assets/images/gallery/corex1.jpg", alt="تصویر اصلی پروژه Corex")
            h3  Corex
            a(href="assets/images/gallery/corex1.png", data-fancybox="project5", data-caption="تصویر ۲ پروژه Corex ", style="display: none;")
            a(href="assets/images/gallery/corex2.png", data-fancybox="project5", data-caption="تصویر ۳  پروژه Corex ", style="display: none;")
            a(href="assets/images/gallery/corex3.png", data-fancybox="project5", data-caption="تصویر 4  پروژه Corex ", style="display: none;")

        .project
            a(href="assets/images/gallery/taak1.png", data-fancybox="project6", data-caption="تصویر اصلی پروژه کتاب تاک ")
                img(src="assets/images/gallery/taak1.png", alt="تصویر اصلی پروژه کتاب تاک")
            h3  کتاب تاک
            a(href="assets/images/gallery/taak2.png", data-fancybox="project6", data-caption="تصویر ۲ پروژه کتاب تاک  ", style="display: none;")
            a(href="assets/images/gallery/taak3", data-fancybox="project6", data-caption="تصویر ۳  پروژه کتاب تاک  ", style="display: none;")
            a(href="assets/images/gallery/taak4.png", data-fancybox="project6", data-caption="تصویر 4  پروژه کتاب تاک ", style="display: none;")

        .project
            a(href="assets/images/gallery/youtab3.png", data-fancybox="project7", data-caption="تصویر اصلی پروژه یوتاب ")
                img(src="assets/images/gallery/youtab3.png", alt="تصویر اصلی پروژه یوتاب")
            h3  یوتاب
            a(href="assets/images/gallery/youtab1.png", data-fancybox="project7", data-caption="تصویر ۲ پروژه یوتاب  ", style="display: none;")
            a(href="assets/images/gallery/youtab2.png", data-fancybox="project7", data-caption="تصویر ۲ پروژه یوتاب  ", style="display: none;")
            a(href="assets/images/gallery/youtab4.png", data-fancybox="project7", data-caption="تصویر 4  پروژه یوتاب ", style="display: none;")
            a(href="assets/images/gallery/youtab5.png", data-fancybox="project7", data-caption="تصویر 4  پروژه یوتاب ", style="display: none;")

        .project

            a(href="assets/images/gallery/aftab1.jpg", data-fancybox="project8", data-caption="تصویر اصلی پروژه طراحی فرش خانه آفتاب ")
                img(src="assets/images/gallery/aftab1.jpg", alt="تصویر اصلی پروژه طراحی فرش خانه آفتاب")
            h3  طراحی فرش خانه آفتاب
            a(href="assets/images/gallery/aftab2.png", data-fancybox="project8", data-caption="تصویر ۲ پروژه طراحی فرش خانه آفتاب  ", style="display: none;")


        .project
            a(href="assets/images/gallery/sobar1.jpg", data-fancybox="project9", data-caption="تصویر اصلی پروژه طراحی فرش سوبار ")
                img(src="assets/images/gallery/sobar1.jpg", alt="تصویر اصلی پروژه طراحی فرش سوبار")
            h3  فرش سوبار
            a(href="assets/images/gallery/sobar2.png", data-fancybox="project9", data-caption="تصویر 2 پروژه فرش سوبار    ", style="display: none;")
            a(href="assets/images/gallery/sobar3.jpg", data-fancybox="project9", data-caption="تصویر 3  پروژه طراحی فرش سوبار ", style="display: none;")

        .project
            a(href="assets/images/gallery/avadis1.jpg", data-fancybox="project10", data-caption="تصویر اصلی پروژه کاشی و سرامیک آوادیس ")
                img(src="assets/images/gallery/avadis1.jpg", alt="تصویر اصلی پروژه کاشی و سرامیک آوادیس")
            h3  کاشی و سرامیک آوادیس
            a(href="assets/images/gallery/avadis2.png", data-fancybox="project10", data-caption="تصویر 2 پروژه کاشی و سرامیک آوادیس    ", style="display: none;")
            a(href="assets/images/gallery/avadis3.jpg", data-fancybox="project10", data-caption="تصویر 3  پروژه کاشی و سرامیک آوادیس ", style="display: none;")

