@charset "UTF-8";
/*---------------------------------- fonts ----------------------------------*/
/*---------------------------------- ellipsis ----------------------------------*/
/*---------------------------------- line text ----------------------------------*/
/*---------------------------------- text gradient ----------------------------------*/
/*---------------------------------- glass effect ----------------------------------*/
/*---------------------------------- card shadow ----------------------------------*/
/*---------------------------------- font icon ----------------------------------*/
/*---------------------------------- overlay ----------------------------------*/
/*---------------------------------- border radius ----------------------------------*/
/*---------------------------------- line ----------------------------------*/
/*---------------------------------- background image ----------------------------------*/
/*---------------------------------- scroll bar ----------------------------------*/
/*---------------------------------- media query ----------------------------------*/
/*---------------------------------- flex ----------------------------------*/
/*---------------------------------- Second Language ----------------------------------*/
/*------------------------------------ main slider ------------------------------------*/
.mainSlider:not(.owl-loaded) {
  display: block !important;
  aspect-ratio: 16/7;
  overflow: hidden;
}

.mainSlider:not(.owl-loaded) .owl-item:not(:first-child) {
  display: none;
}

.mainSlider:not(.owl-loaded) .owl-item img {
  height: 100%;
}

#about-me .description {
  margin-top: 30px;
  color: var(--desc-color-light);
  margin-bottom: 30px;
}

#services .service-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#services .service-card .icon {
  width: 85px;
}
#services .service-card .name {
  font-weight: 600;
  color: var(--text-color-light);
  margin-bottom: 15px;
}
#services .service-card .desc {
  color: var(--desc-color-light);
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.project {
  text-align: center;
}

.project h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #cecece;
}

.project a {
  display: block;
  margin-bottom: 10px;
}

.project img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s;
}

.project img:hover {
  transform: scale(1.05);
}

.blured-background {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blur-bg-light);
  z-index: -1;
}
.blured-background span {
  width: 10vmin;
  height: 10vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: blured_move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.blured-background span:nth-child(1),
.blured-background span:nth-child(3),
.blured-background span:nth-child(5),
.blured-background span:nth-child(8),
.blured-background span:nth-child(11),
.blured-background span:nth-child(12),
.blured-background span:nth-child(15),
.blured-background span:nth-child(20) {
  color: #edff20 !important;
}
.blured-background span:nth-child(1) {
  color: #583c87;
  top: 56%;
  left: 9%;
  animation-duration: 11s;
  animation-delay: -8.1s;
  transform-origin: 6vw -10vh;
  box-shadow: 40vmin 0 13.0166555866vmin currentColor;
}
.blured-background span:nth-child(2) {
  color: #0d0149;
  top: 72%;
  left: 75%;
  animation-duration: 11.1s;
  animation-delay: -3.8s;
  transform-origin: -12vw 9vh;
  box-shadow: 40vmin 0 6.1961466709vmin currentColor;
}
.blured-background span:nth-child(3) {
  color: #583c87;
  top: 9%;
  left: 81%;
  animation-duration: 11.9s;
  animation-delay: -7.1s;
  transform-origin: 23vw 2vh;
  box-shadow: -40vmin 0 7.4502495452vmin currentColor;
}
.blured-background span:nth-child(4) {
  color: #e45a84;
  top: 2%;
  left: 17%;
  animation-duration: 12s;
  animation-delay: -2.8s;
  transform-origin: -16vw 8vh;
  box-shadow: -40vmin 0 12.533787847vmin currentColor;
}
.blured-background span:nth-child(5) {
  color: #583c87;
  top: 25%;
  left: 4%;
  animation-duration: 15.6s;
  animation-delay: -8s;
  transform-origin: -20vw -22vh;
  box-shadow: -40vmin 0 5.4723418582vmin currentColor;
}
.blured-background span:nth-child(6) {
  color: #250769;
  top: 25%;
  left: 11%;
  animation-duration: 12.4s;
  animation-delay: -7.2s;
  transform-origin: 6vw -17vh;
  box-shadow: 40vmin 0 10.0276258235vmin currentColor;
}
.blured-background span:nth-child(7) {
  color: #ffacac;
  top: 5%;
  left: 29%;
  animation-duration: 10.4s;
  animation-delay: -8.4s;
  transform-origin: 20vw 5vh;
  box-shadow: -40vmin 0 6.0912947411vmin currentColor;
}
.blured-background span:nth-child(8) {
  color: #583c87;
  top: 38%;
  left: 18%;
  animation-duration: 14s;
  animation-delay: -13.9s;
  transform-origin: 5vw -1vh;
  box-shadow: -40vmin 0 7.4727724313vmin currentColor;
}
.blured-background span:nth-child(9) {
  color: #ffacac;
  top: 63%;
  left: 83%;
  animation-duration: 11.6s;
  animation-delay: -10.9s;
  transform-origin: -2vw -11vh;
  box-shadow: -40vmin 0 7.1376872218vmin currentColor;
}
.blured-background span:nth-child(10) {
  color: #ffacac;
  top: 44%;
  left: 64%;
  animation-duration: 12s;
  animation-delay: -4.7s;
  transform-origin: -24vw 17vh;
  box-shadow: 40vmin 0 7.4094127515vmin currentColor;
}
.blured-background span:nth-child(11) {
  color: #583c87;
  top: 73%;
  left: 76%;
  animation-duration: 15.8s;
  animation-delay: -6.2s;
  transform-origin: -9vw -24vh;
  box-shadow: 40vmin 0 14.0899880498vmin currentColor;
}
.blured-background span:nth-child(12) {
  color: #583c87;
  top: 4%;
  left: 96%;
  animation-duration: 12.1s;
  animation-delay: -7.9s;
  transform-origin: -7vw 11vh;
  box-shadow: 40vmin 0 12.0679060615vmin currentColor;
}
.blured-background span:nth-child(13) {
  color: #ffacac;
  top: 80%;
  left: 89%;
  animation-duration: 10.7s;
  animation-delay: -9.6s;
  transform-origin: -23vw 8vh;
  box-shadow: -40vmin 0 13.4227817909vmin currentColor;
}
.blured-background span:nth-child(14) {
  color: #e45a84;
  top: 10%;
  left: 84%;
  animation-duration: 11.7s;
  animation-delay: -13.7s;
  transform-origin: 23vw -9vh;
  box-shadow: 40vmin 0 13.0652683419vmin currentColor;
}
.blured-background span:nth-child(15) {
  color: #583c87;
  top: 31%;
  left: 52%;
  animation-duration: 12s;
  animation-delay: -4.5s;
  transform-origin: 1vw -5vh;
  box-shadow: 40vmin 0 14.569884619vmin currentColor;
}
.blured-background span:nth-child(16) {
  color: #ffacac;
  top: 6%;
  left: 98%;
  animation-duration: 12.7s;
  animation-delay: -7.5s;
  transform-origin: 15vw -9vh;
  box-shadow: -40vmin 0 7.281992007vmin currentColor;
}
.blured-background span:nth-child(17) {
  color: #ffacac;
  top: 18%;
  left: 96%;
  animation-duration: 12.7s;
  animation-delay: -7.6s;
  transform-origin: -11vw 23vh;
  box-shadow: 40vmin 0 11.8428291366vmin currentColor;
}
.blured-background span:nth-child(18) {
  color: #e45a84;
  top: 47%;
  left: 65%;
  animation-duration: 13.3s;
  animation-delay: -12.4s;
  transform-origin: 14vw -13vh;
  box-shadow: -40vmin 0 5.1686799201vmin currentColor;
}
.blured-background span:nth-child(19) {
  color: #ffacac;
  top: 51%;
  left: 61%;
  animation-duration: 13.5s;
  animation-delay: -15.1s;
  transform-origin: -11vw 16vh;
  box-shadow: -40vmin 0 9.0171705711vmin currentColor;
}
.blured-background span:nth-child(20) {
  color: #583c87;
  top: 64%;
  left: 96%;
  animation-duration: 14.9s;
  animation-delay: -4.7s;
  transform-origin: 8vw 7vh;
  box-shadow: 40vmin 0 5.1015424987vmin currentColor;
}
@keyframes blured_move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.profile {
  position: relative;
  width: 35%;
  background-color: var(--background-color-light);
  border-radius: 35px;
  overflow: hidden;
}
.profile .profile-content {
  padding-bottom: 30px;
}
.profile .slide-img img {
  width: 100%;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
}
.profile .image {
  position: absolute;
  display: inline-block;
  width: 140px;
  height: 140px;
  transform: translate(50%, -80px);
  right: 50%;
  z-index: 99;
}
.profile .image:before {
  background-image: linear-gradient(135deg, rgba(246, 184, 70, 0.4) 0%, rgba(246, 184, 70, 0.01) 100%);
  transform: rotate(90deg);
  left: auto;
  right: -10px;
}
.profile .image img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  border: 3px solid #ffffff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
}
.profile .title {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: var(--text-color-light);
  margin-top: 20%;
}
.profile .subtitle {
  text-align: center;
}
.profile .subtitle .typing-title {
  display: inline-block;
  font-size: 14px; /* یا هر اندازه‌ای که نیاز دارید */
  color: var(--text-color-light); /* رنگ متن */
}
.profile .subtitle .typed-cursor {
  font-weight: bold;
  font-size: 14px; /* هم اندازه با متن تایپ شده */
  color: #fff; /* رنگ مکان‌نما */
  animation: blink 0.7s infinite; /* افزودن انیمیشن چشمک زن */
}
.profile .social-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  color: var(--text-color-light);
  margin-top: 30px;
}
.profile .social-list .icon {
  font-size: 30px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.index-page {
  height: 100vh;
}
@media screen and (max-width: 767.98px) {
  .index-page {
    flex-direction: column;
  }
}
.index-page .main-content {
  width: calc(100% - 90px);
  height: 86vh;
  border-radius: 30px;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .index-page .main-content {
    flex-direction: column;
  }
}
.index-page .tab-content {
  padding: 30px;
  background: var(--background-color-light);
  width: 65%;
  border-radius: 35px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
}
.index-page .tab-content .Shared-card {
  margin-bottom: 30px;
}
.index-page .tab-content .title {
  position: relative;
  font-weight: 800;
  font-size: 20px;
  color: var(--text-color-light);
}
.index-page .tab-content .title:after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -20px;
  height: 1px;
  background: radial-gradient(ellipse at right, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.index-page .info-list {
  margin: 20px 0;
}
.index-page .info-list .info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.index-page .info-list .info-item .key {
  font-weight: 600;
  font-size: 16px;
  color: var(--desc-color-light);
}
.index-page .info-list .info-item .value {
  color: var(--desc-color-light);
}

/* انیمیشن برای نمایان شدن از بالا به پایین */
.fade-in-down {
  opacity: 0;
  transform: translateY(-50%);
  animation: fadeInDown 0.5s forwards;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* اطمینان از اینکه محتوای فعال، به صورت نمایش داده شده باشد */
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block; /* نمایش محتوای فعال */
  transform: translateY(-50%);
  animation: fadeInDown 0.5s forwards;
}

/* استایل اولیه اسلاید */
.swiper-slide {
  opacity: 0; /* اسلایدها در ابتدا دیده نمی‌شوند */
  transform: translateY(30px); /* اسلایدها کمی پایین‌تر قرار می‌گیرند */
  transition: all 0.5s ease-in-out; /* انیمیشن نرم و روان */
}

/* اسلاید فعال با انیمیشن */
.swiper-slide.animate {
  opacity: 1; /* اسلاید قابل مشاهده می‌شود */
  transform: translateY(0); /* به مکان اصلی حرکت می‌کند */
}

/* انیمیشن محو شدن */
.fade-in {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* انیمیشن ورود از سمت چپ */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideInLeft 0.7s forwards;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* انیمیشن زوم */
.zoom-in {
  opacity: 0;
  transform: scale(0.5);
  animation: zoomIn 0.7s forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* انیمیشن چرخش */
.rotate-in {
  opacity: 0;
  transform: rotate(-180deg);
  animation: rotateIn 0.7s forwards;
}

@keyframes rotateIn {
  to {
    opacity: 1;
    transform: rotate(0);
  }
}

/*# sourceMappingURL=index.css.map */
