$input-box-shadow: 0 0 4px rgb(204, 204, 204);
$not-found-box-shadow: -3px -1px 18px -5px darken($main-background,15%);
$light-box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
$card-box-shadow: rgb(100 100 111 / 6%) 0px 7px 29px 0px;