$dark-color: #121212;
$light-color: #fff;

$main-background: #f9f9f9;
$header-background: #191919;
$footer-background: #eee;
$card-background: #fcfcfc;

$title-color: #333;
$sub-title-color: #888;

$text-color: #6e6e6e;
$sub-text-color: mix($light-color, $text-color, 8%);
