$telegram: #2288b4;
$whatsapp: #38aa46;
$instagram: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$pinterest: #E60023;
$facebook: #4267B2;
$youtube: #FF0000;
$linkedin: #0A66C2;
$x: #000000;
$google-plus: #db4a39;
$skype: #00aff0;
$nova: #2196f3;
$eitaa: #ef7c00;
$igap: #79c342;
$gap: #945dee;
$soroush: #1550a0;
$bale: -webkit-linear-gradient(20deg, rgba(45,47,117,1) 0%, rgba(79,238,182,1) 100%);;