$sub-nav-background: $light-color;
$sub-nav-link-color: $title-color;
$sub-nav-link-hover-color: $primary-dark-color;
$sub-nav-link-hover-background: lighten($primary-color, 40%);
$sub-nav-link-size: 14px;
$sub-nav-link-weight: 400;
$sub-nav-min-width: 150px;